<h1>Hi {{name}},</h1><br>
<p>Your document case <strong>#{{caseNumber}}</strong> has been matched.</p>
<p>You can view your document here: {{link}} and if yours claim it</p>
<p>Thank you for using our service.</p>
<p>Best regards,</p>
<p>Citizen Link Team</p>